/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-may-2017, 14:07:17
    Author     : General
*/

.login-form {
    margin-right: auto; 
    margin-left: auto; 
    width: 450px;
}

.datosPersonales-form {
    margin-right: auto; 
    margin-left: auto; 
    width: 800px;
}

.message {
    color:red;
}

.ui-selectonemenu{
     width: 212px !important;
}

.login-form2 {
    width: 100%;
    text-align: center;
}

#cabecera {
    text-align: center;
    margin: 10px 0 40px;
    padding: 10px;
}

#pie {
    clear: left;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: absolute;
    height: 40px;
}

.contenido{
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.alinearALaDerecha{
    text-align: right;
}